#root {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.nav-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.mylogo{
  width: auto;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.nav-bar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-Shadow: '0 2px 4px rgba(0,0,0,0.1)',
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  width: 100%;
  margin: 0;
  gap: 2rem;
  padding: 2rem;
}
.hero-image{
  width: 100%;
  border-radius: 8px;
  height: auto;
  background-position: center;
}
.hero-text{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.about-column{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 35%;
}
.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}
.about-col-2{
  flex-basis: 60%;
}
.logo:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 2em #004d4d);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #006666);
}

@keyframes loo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
