:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #020202;
  --secondary-color: #048173;
  --surface-color: #373737;
  --accent-color: #9fe0c3;
  --neutral-color: #fafafa;
  --semantic-color: #f59e0b;
}

a {
  font-weight: 500;
  color: var(--neutral-color);
  text-decoration: none;
  font-size: 20px;
}
a:hover {
  color: var(--accent-color);
  background-color: transparent;
  font-size: 25px;
  text-shadow: 1px 1px 1px var(--accent-color);

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-wrap: wrap;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 25px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  background-color: var(--accent-color);;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--semantic-color);
  transform: scale(1.05) translateY(-8px);
  border: 2px --semantic-color;
}
button:active {
  background-color: var(--semantic-color);
  color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--primary-color);
    background-color: var(--neutral-color);
  }
  a{
    color: var(--surface-color);
  }
  a:hover {
    color: var(--secondary-color);
  }
  button {
    background-color: var(--surface-color);
    color: var(--neutral-color);
  }
  button:hover{
    background-color: var(--secondary-color);
  }
}
